@font-face {
  font-family: 'DM Sans';
  font-weight: 400 700;
  src:
    local('DM Sans'),
    local('DMSans'),
    url('~/assets/fonts/DMSans-Variable.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: normal;
  src:
    local('Allerta Stencil'),
    local('AllertaStencil'),
    url('~/assets/fonts/AllertaStencil-Regular.woff2') format('woff2');
  font-display: swap;
}
