@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin reset-appearance {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
