@use 'fonts';

//Цвета
$color-light: #ffffff;
$color-gray: #979797;
$color-dark: #000000;
$color-ligth-gray: #efefef;
$color-accent-light: #a18a68;
$color-accent-red: #ff0000;

//Breakpoints
$breakpoints-xxl: 1680px;
$breakpoints-xl: 1440px;
$breakpoints-l: 1280px;
$breakpoints-m: 992px;
$breakpoints-s: 767px;
$breakpoints-xs: 376px;

//Шрифты
$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Allerta Stencil', sans-serif;
